.todo-list-template {
    background: #fff0f6;
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 10rem;
  }
  
  .title {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    background: #fa5252;;
    color: white;
  }
  
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #ff6b6b;
  }
  
  .todos-wrapper {
    min-height: 5rem;
  }